
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$selectioncolor: #ff0000;

$second-background-color: #202020;

html {
  scroll-behavior: smooth;
}

::selection {
  background: $selectioncolor; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $selectioncolor; /* Gecko Browsers */
}

.fullsize {
    width: 100vw;
    height: 100vh;
}

#second-crack {
    background-color: $second-background-color;
}

h1 {
    color: white;
    font-family: Bebas Neue, sans-serif;
    margin: 70px auto;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 3em;
}

