$color: #ff0000;
$background: #141414;

#canvas-container {
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    height: 100vh;
}

#start {
    height: 100vh;
    width: 100vw;
}

.front-icons {
    position:absolute;
    mask-size: 100%;
    -webkit-mask-size: 100%;
}

#front-sketch {
    position: absolute;
}

#App {
    color: $color;
}

