@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
  scroll-behavior: smooth;
}

::selection {
  background: #ff0000;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ff0000;
  /* Gecko Browsers */
}

.fullsize {
  width: 100vw;
  height: 100vh;
}

.velvet {
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#front-background {
  background-color: black;
  width: 100%;
  height: 100%;
}

#net-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  background-attachment: fixed;
}

#front-roger-fan {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  font-family: Bebas Neue, sans-serif;
  font-size: 6em;
  letter-spacing: 0.3em;
}

#down-icon {
  position: absolute;
  top: 100vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 50px;
  transition: transform 0.5s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  #down-icon:hover {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

#Projects {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#project-container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: 0px auto 150px auto;
  flex-wrap: wrap;
  align-items: flex-start;
  perspective: 800px;
  -webkit-perspective: 800px;
}

.project {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  transform: none;
  transition: transform 0.3s, box-shadow 0.3s;
  transform-style: preserve-3d;
  box-shadow: 10px 30px 10px 10px black;
  position: relative;
  overflow: hidden;
}

@media (hover: hover) and (pointer: fine) {
  .project:hover {
    transform: translateZ(20px) rotateX(10deg);
    box-shadow: 10px 50px 20px 20px black;
  }
}

.project::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(225deg, rgba(255, 255, 255, 0.05) 30%, rgba(255, 255, 255, 0.15) 35%, rgba(255, 255, 255, 0) 50%);
  transform: scale(2);
  transition: transform 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .project:hover::after {
    transform: scale(2) translate(-10px, 30px);
  }
}

.project-image {
  width: 300px;
  margin: none;
}

.project-info {
  background-color: white;
  width: 300px;
  margin: none;
  display: flex;
  flex-direction: column;
}

.project-info span {
  margin: 10px 10px 0px 10px;
}

.project-title {
  font-family: Bebas Neue;
  font-size: 2rem;
}

.project-desc {
  font-family: Lato;
  font-size: 1rem;
  margin-bottom: 10px;
}

.project-links {
  display: flex;
  flex-direction: row;
  margin: 10px;
  z-index: 3;
}

.project-links > .project-link {
  margin: 0px 10px 0px 0px;
}

.project-link-img {
  height: 30px;
  margin: none;
}

#second-crack {
  background-color: #202020;
}

#sandwich {
  width: 3rem;
  position: fixed;
  left: 10px;
  top: calc(100vh - 3rem - 10px);
  z-index: 3;
  cursor: pointer;
  transform: none;
  transition: transform 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  #sandwich:hover {
    transform: rotateZ(-30deg);
  }
  #SideBarX:hover {
    transform: rotateZ(360deg);
  }
}

#sidebar {
  position: fixed;
  display: block;
  overflow-x: hidden;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #2B2b2B;
  color: #ffffff;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  width: 10rem;
  transform-origin: 0% 0%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#Trinkets {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

#trinket-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  width: 80vw;
  margin: 0px auto 100px auto;
}

.trinket {
  overflow: hidden;
  position: relative;
}

.trinket-img {
  width: 100%;
  filter: none;
  transition: filter 0.3s;
  z-index: 0;
  position: relative;
  display: block;
}

.trinket:hover > .trinket-img {
  filter: grayscale(100%);
}

.trinket-label-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  left: 0px;
  top: 0px;
}

.trinket-label {
  position: absolute;
  bottom: 0px;
  color: white;
  font-family: "Lato";
  font-style: italic;
  right: 0px;
  text-align: right;
  padding: 5px 10px;
  background-color: black;
}

.trinket-info {
  width: 100%;
  height: 100%;
  margin-top: 100%;
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transition: margin-top 0.3s;
}

.trinket-label-container:hover > .trinket-info {
  margin-top: 20px;
}

.trinket-title {
  font-family: 'Bebas Neue';
  margin: 15px auto 5px auto;
  font-size: 1.5rem;
}

.trinket-description {
  font-family: 'Lato';
  font-size: 0.8rem;
  margin: 0px 20px 5px 20px;
}

.trinket-links {
  display: flex;
  flex-direction: row;
  margin: 20px auto 0px auto;
  width: 150px;
}

.trinket-links > .project-link {
  margin: 0px auto 0px auto;
}

#sidebar * {
  white-space: nowrap;
  margin: 30px auto;
  font-family: 'Amaranth';
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

#SideBarX {
  width: 3rem;
  cursor: pointer;
  transform: none;
  transition: transform 1s ease;
}

h1 {
  color: white;
  font-family: Bebas Neue, sans-serif;
  margin: 70px auto;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 3em;
}
/*# sourceMappingURL=app.css.map */